/* Navbar styling */
.navbar {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    height: 75px;
    font-size: 1.2em;
    font-weight: 400;
}

.tree-icon {
    grid-row: 1;
    grid-column: 1;
    height: 65px;
    width: 65px;
    align-self: center;
    padding: 0 0 0 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-self: center;
    justify-self: end;
}

li {
    display: inline-block;
    padding: 0 25px 0 0;
}

/* Card styling */
.card-container {
    text-align: center;
}

.card {
    height: 450px;
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: 50px 40px 0 0;
    display: inline-block;
}

.card-image {
    width: 350px;
}

.title {
    font-size: large;
    font-weight: 400;
    margin: 15px 0 15px 0;
}

.description {
    padding: 0 25px 0 25px;
    font-weight: 100;
}

/* Banner styling */
.banner {
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    height: calc(100vh - 75px);
    place-items: center;
}

#banner-image {
    grid-row: 1 / 11;
    grid-column: 1 / 11;
    object-fit: cover;
    height: 100%;
    width: 100%;

}

#banner-text {
    grid-row: 1 / 11;
    grid-column: 2 / 10;
    color: white;
    position: relative;
}

#title {
    font-size: 5em;
    font-weight: 600;
}

#sub-title {
    font-size: 2em;
}

/* Footer styling */
.footer {
    margin: 50px 0 25px 0;
    text-align: center;
    font-weight: 300;
    font-size: medium;
}
