body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background: #fdfffc;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::selection {
    background: #b7e4c7
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
